<% include header.html %>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Sítio do Chicão</a>
                    <ul class="nav">
                        <li class="active"><a href="/acomodacoes">Acomodações</a></li>
                        <li><a href="/lazer">Lazer</a></li>
                        <li><a href="/como-chegar">Como chegar</a></li>
                        <li><a href="/reservas">Reservas</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Acomodações</h1>
                </div>
            </div>

            <footer>
                <ul>
                    <li><a href="/acomodacoes"><span>Acomodações</span></a></li>
                    <li><a href="/lazer"><span>Lazer</span></a></li>
                    <li><a href="/como-chegar"><span>Como chegar</span></a></li>
                    <li><a href="/reservas"><span>Reservas</span></a></li>
                    
                </ul>
                <ul class="lesser">
                    <li><a href="/contato">Contato</a></li>
                </ul>
                <p><a href="http://fabriciotav.org/">by Fabrício</a></p>
            </footer>
        </div>

<% include footer.html %>