<% include header.html %>
<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Sítio do Chicão</a>
                    <ul class="nav">
                        <li><a href="/acomodacoes">Acomodações</a></li>
                        <li><a href="/lazer">Lazer</a></li>
                        <li><a href="/como-chegar">Como chegar</a></li>
                        <li><a href="/reservas">Reservas</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item"><img src="/img/sitio/IMG_7714.jpg" alt=""></div>
                            <div class="item"><img src="/img/sitio/IMG_7715.jpg" alt=""></div>
                            <div class="item"><img src="/img/sitio/IMG_7717.jpg" alt=""></div>
                            <div class="item"><img src="/img/sitio/IMG_7718.jpg" alt=""></div>
                            <div class="item"><img src="/img/sitio/IMG_7721.jpg" alt=""></div>
                            <div class="item"><img src="/img/sitio/IMG_7723.jpg" alt=""></div>
                            <div class="item"><img src="/img/sitio/IMG_7724.jpg" alt=""></div>
                            <div class="item"><img src="/img/sitio/IMG_7726.jpg" alt=""></div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
            
            <footer>
                <ul>
                    <li><a href="/acomodacoes"><span>Acomodações</span></a></li>
                    <li><a href="/lazer"><span>Lazer</span></a></li>
                    <li><a href="/como-chegar"><span>Como chegar</span></a></li>
                    <li><a href="/reservas"><span>Reservas</span></a></li>
                    
                </ul>
                <ul class="lesser">
                    <li><a href="/contato">Contato</a></li>
                </ul>
                <p><a href="http://fabriciotav.org/">by Fabrício</a></p>
            </footer>
        </div>

<% include footer.html %>